<ul class="topmenu">
    <li class="techic"><a href = "#">
        Конструкторы LEGO </a>
        <ul class="menu">
            <li class="kitchen"><a href = "#">
                Batman Movie</a>
            </li>
            <li class="home"><a href = "#">
                Товары для дома </a>
            </li>
        </ul>
    </li>
    <li class="phone"><a href = "#">
        Игрушки для малышей </a>
        <ul class="menu">
            <li class="smartphone"><a href = "#">
                Смартфоны и гаджеты </a>
            </li>
            <li class="book"><a href = "#">
                планшеты, электронные книги </a>
            </li>
        </ul>
    </li>
    <li class="phone"><a href = "#">
        Игрушки для девочек </a>
        <ul class="menu">
            <li class="smartphone"><a href = "#">
                Смартфоны и гаджеты </a>
            </li>
            <li class="book"><a href = "#">
                планшеты, электронные книги </a>
            </li>
        </ul>
    </li>
    <li class="phone"><a href = "#">
        Игрушки для мальчиков </a>
        <ul class="menu">
            <li class="smartphone"><a href = "#">
                Смартфоны и гаджеты </a>
            </li>
            <li class="book"><a href = "#">
                планшеты, электронные книги </a>
            </li>
        </ul>
    </li>
    <li class="phone"><a href = "#">
        Игры настольные </a>
        <ul class="menu">
            <li class="smartphone"><a href = "#">
                Смартфоны и гаджеты </a>
            </li>
            <li class="book"><a href = "#">
                планшеты, электронные книги </a>
            </li>
        </ul>
    </li>
    <li class="phone"><a href = "#">
        Конструкторы </a>
        <ul class="menu">
            <li class="smartphone"><a href = "#">
                Смартфоны и гаджеты </a>
            </li>
            <li class="book"><a href = "#">
                планшеты, электронные книги </a>
            </li>
        </ul>
    </li>
</ul>